dir: "/var/lib/redis"
bind: 0.0.0.0
port: 6379
appendonly: yes
maxmemory: 0
maxmemory-policy: volatile-lru
min-replicas-max-lag: 5
min-replicas-to-write: 1
rdbchecksum: yes
rdbcompression: yes
repl-diskless-sync: yes
{% if hostvars[inventory_hostname]['role'] != "master" %}
{% for host in vars['ansible_play_hosts_all'] if hostvars[host]['role'] == "master" %}
replicaof: {{ hostvars[host]['ansible_host'] }} 6379
{% endfor %}
{% endif %}
